.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    font-weight: 400;
    position: relative
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 7px;
    color: #4C4C4C;
}

.tree li a {
    text-decoration: none;
    color: #000000;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.fileicon::before {
    content: url(https://img.icons8.com/windows/16/000000/document.png);
    color: black;
    display: inline-block;
    margin-right: 4px;
}

.sticky {
    position: fixed;
}

li, ul {
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

#loader-f {
    display: block;
    width: 60px;
    margin: 10px auto;
}

#col1 {
    border: 1px solid #e1e4e8;
    position: sticky;
    top: 60px;
    padding: '5px 0';
    line-height: 1.5;
    overflow: scroll;
    margin: 0;
}

#col2 {
    margin: 0;
}

/* width */

#col1::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

#col1::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

#col1::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

/* Handle on hover */

#col1::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.full-screen {
    width: auto;
    padding: 0 20px;
}